<div class="main">
  <div class="container">
    <div class="about-inside">
      <div class="about-main">
        BandBundへようこそ！
      </div>
      <div class="about-body">
        BandBundはバンドマンの総力を結集し、<br>
        ライブハウス近隣を可視化するマップアプリです
      </div>
      <div class="about-under-line">
      </div>
      <div class="box1">
        <div class="box1-detail">
          画面右上の住所検索か、<br>
          マップをタップするとピンが表示されます
        </div>
        <div class="box1-image">
        </div>
      </div>
      <div class="about-under-line">
      </div>
      <div class="box2">
        <div class="box2-detail">
          場所の名前と説明を<br>
          入力してカテゴリーを選択しましょう<br><br>
          あとは写真を添付して登録を押すだけ！
        </div>
        <div class="box2-image">
        </div>
      </div>
      <div class="about-under-line">
      </div>
      <div class="box3">
        <div class="box3-detail">
          先ほどの場所にアイコンが表示されます！
        </div>
        <div class="box3-image">
        </div>
      </div>
      <div class="about-under-line">
      </div>
      <div class="box4">
        <div class="box4-detail">
          お気に入りの場所には<br>
          ぜひ口コミを投稿してください！
        </div>
        <div class="box4-image">
        </div>
      </div>
    </div>
  </div>
</div>