<div class="main">
  <div class="container">
    <div class="inside">
      <div class="question-main">
        よくある質問
      </div>
      <div class="question">
        Q：BandBundとはどういう意味ですか？
      </div>
      <div class="question">
        A：Band(バンド)とBund(ブント:ドイツ語で結びつき、絆、結束を意味する名詞)を繋げた造語です。
      </div>
      <br>
      <div class="question">
        Q：誤った場所の登録はどこから報告すれば良いでしょうか？
      </div>
      <div class="question">
        A：keisukeomata.dmm@gmail.comへご一報いただければ幸いです。
      </div>
    </div>
  </div>
</div>