<div class="main">
  <div class="container">
    <div class="check-field">
    <h3 class="check-message">本当に退会しますか？</h3>
    <%= link_to '戻る', user_path(@user), class:"btn btn-primary" %><br>
    <br><%= link_to '退会', user_path(@user), method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
</div>