/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  
@import "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  #color {
    color: white;
  }

// フッター固定
// https://webkikaku.co.jp/blog/htmlcss/footer-bottom/
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

footer{
  margin-top: auto;
  text-align: center;
  margin-bottom: -10px;
}

#map-point {
  position: relative;
}

#map {
  height: 600px;
  width: 100%;
}

.logo {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 40px;
  margin-right: 10px;
}

.navbar-header {
  height: 80px;
}

.navbar-brand {
  padding-top: 47px;
}

.header-nav {
  padding-top:15px;
}

.navbar-toggle {
  margin-top: 25px;
}

.nav-list {
  list-style: none;
}

.navbar-default {
  text-decoration: none;
}

.navbar-custom {
  text-decoration: none;
  background-color: black;
}

.navbar-brand p {
  display: inline-block;
}

#move-geolocation {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 1;
}

.livehouse-search{
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 1;
}

.forms {
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
}

.under-line {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
  margin-top: 50px;
}

.under-line2 {
  border-bottom: 1px solid #c0c0c0;
}

.footer-top {
  text-align: center;  
}

.footer-top-left {
  margin-bottom: 10px;
}

.fa-twitter {
  color: #00bfff;
  font-size: 50px;
  margin:10px;
}

.fa-github {
  color: black;
  font-size: 50px;
  margin:10px;
}

.icon1 {
  display: inline-block;
}

.icon2 {
  display: inline-block;
}

.footer-detail {
  margin-bottom: 5px;
}

.footer-top-right {
  margin-bottom: 10px;
}

.footer-bottom {
  background-color: black;
  height: 80px;
}

.footer-text {
  color: white;
  text-align: center;
  line-height: 70px;
}

.infoWindow-text {
  text-align: center;
}

#address {
  width: 230px;
  margin-left: 10px;
}

@media screen and (max-width:768px) {   
  .header-nav {
    padding-top: 0px;
  } 
}

@media screen and (max-width:499px) {   
  .logo {
    font-size: 30px;
    margin-right: 5px;
    margin-left: -5px;
  }
  
  .navbar-brand {
    font-size: 15px;
  }

  a {
    font-size: 70%;
  }
  
  p {
    font-size: 70%;
  }

  .fa-twitter {
    font-size: 35px;
  }

  .fa-github {
    font-size: 35px;
  }

  .under-line-mini {
    margin: 40px 0px;
  }

  .under-line {
    margin-top: 20px;
  }

  .infoWindow-text a {
    font-size: 18px;
  }
}