.waves {
  margin-top: -20px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  position: relative;
  overflow: hidden;
}

.wave {
  opacity: .2;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  // 要素の変形transformにおける原点
  transform-origin: 50% 48%;
  border-radius: 43%;
  // linearで一定
  animation: spin 3000ms infinite linear;
}

.wave.-two {
  animation: spin 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.wave.-three {
  animation: spin 5000ms infinite linear;
}

// アニメーション名を揃える。今回ならspin
@keyframes spin {
  // 要素を回転表示する
  // fromはアニメーションの始まり、toはアニメーションの終わり
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.about-main {
  font-size: 30px;
  margin-top: 70px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.about-body {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  z-index: 1;
  position: relative;
}

// aboutページのアニメーション
.fadein {
  opacity : 0;
  // 50px下方から0pxまで移動
  transform : translate(0, 50px);
  // 時間的変化
  transition:all 0.5s;
}

.scrollin {
  opacity : 1;
  // 50px下方から0pxまで移動
  transform : translate(0, 0);
}

.question-main {
  font-size: 30px;
  margin-bottom: 30px;
}

.about-inside {
  text-align: center;
  margin: 0 auto;
}

.about-under-line {
  border-bottom: 1px solid white;
  margin: 0 auto;
}

.box1-detail {
  font-size: 20px;
  margin-top: 140px;
  margin-bottom: 40px;
}

.box2-detail {
  font-size: 20px;
  margin-bottom: 40px;
}

.box3-detail {
  font-size: 20px;
  margin-bottom: 40px;
}

.box4-detail {
  font-size: 20px;
  margin-bottom: 40px;
}

.box1-image {
  width: 1140px;
  height: 600px;
  background-image: url(/images/pic1.png);
  background-size: cover;
  background-position: center center;
  margin-bottom: 120px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.box2-image {
  width: 1140px;
  height: 520px;
  background-image: url(/images/pic2.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.box3-image {
  width: 1140px;
  height: 520px;
  background-image: url(/images/pic3.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.box4-image {
  width: 100%;
  height: 520px;
  background-image: url(/images/pic4.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:1200px) {
  
  .box1-image {
    width: 100%;
  }

  .box2-image {
    width: 100%;
  }

  .box3-image {
    width: 100%;
  }

  .box4-image {
    width: 100%;
  }

}

@media screen and (max-width:768px) {
  
  .about-body {
    font-size: 15px;
  }

  .box1-detail {
    font-size: 15px;
  }

  .box2-detail {
    font-size: 15px;
  }

  .box3-detail {
    font-size: 15px;
  }

  .box4-detail {
    font-size: 15px;
  }

  .box1-image {
    width: 100%;
  }

  .box2-image {
    width: 100%;
  }

  .box3-image {
    width: 100%;
  }

  .box4-image {
    width: 100%;
  }

}

@media screen and (max-width:499px) {   
  
  .about-body {
    font-size: 14px;
  }

  .box1-detail {
    font-size: 14px;
  }

  .box2-detail {
    font-size: 14px;
  }

  .box3-detail {
    font-size: 14px;
  }

  .box4-detail {
    font-size: 14px;
  }

  .box1-image {
    width: 100%;
    background-image: url(/images/mini_image1.jpg);
  }

  .box2-image {
    width: 100%;
    background-image: url(/images/mini_image2.jpg);
  }

  .box3-image {
    width: 100%;
    background-image: url(/images/mini_image3.jpg);
  }

  .box4-image {
    width: 100%;
    background-image: url(/images/mini_image4.jpg);
  }

}

@media screen and (max-width:350px) {  

  .box1-image {
    width: 100%;
  }

  .box2-image {
    width: 100%;
  }

  .box3-image {
    width: 100%;
  }

  .box4-image {
    width: 100%;
  }

}